{% extends 'base.html' %}
{% block title %}Houses{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row">

        <div>
            <h4> <strong>Welcome,</strong> NAME</h4>
            <hr>
        </div>

        <div class="col-xxl-12 col-xl-12 col-lg-12 col-sm-12 col-md-12 mt-1">
            <div class="card" >
                <h5 class="card-header">Houses</h5>
                <!-- <img src="assets/images/houses/default_house.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">See all properties</h5>
                    <p class="card-text">Here you can view all available properties</p>
                    <a href="{% url 'houses' %}" class="btn btn-primary">See</a>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}